node_modules/
package-lock.json
yarn.lock

*data.txt
*id.txt
*proxy.txt
*privatekey.txt
*wallet.txt
*private.txt
*note.txt

.env
setup.json

env-tool
data
dist
venv


*/metamask
*/telewebtoadrv2
*/violentmonkey
*/touch_vpn